@import "@/common/styles/theme.css";

body {
	width: 280px;
	transition:
		background-color var(--duration-2) var(--ease-2),
		color var(--duration-2) var(--ease-2);
}

.center {
	display: flex;
	place-items: center;
}

.spacer {
	display: block;
	margin-top: var(--size-2);
}
