@import "@/common/styles/base.css";

html {
  min-height: 100%;
  transition:
    background-color var(--duration-2) var(--ease-2),
    color var(--duration-2) var(--ease-2);
}

body {
  width: 100%;
  height: 100%;
}
