:root {
	--base: #303446;
	--mantle: #292c3c;
	--crust: #232634;
	--surface0: #414559;
	--surface1: #51576d;
	--surface2: #626880;
	--overlay0: #737994;
	--text: #c6d0f5;
	--subtext0: #a5adce;
	--mauve: #ca9ee6;
	--blue: #8caaee;
	--green: #a6d189;
	--red: #e78284;
	--peach: #ef9f76;
}

:root[data-theme="frappe"] {
	--base: #303446;
	--mantle: #292c3c;
	--crust: #232634;
	--surface0: #414559;
	--surface1: #51576d;
	--surface2: #626880;
	--overlay0: #737994;
	--text: #c6d0f5;
	--subtext0: #a5adce;
	--mauve: #ca9ee6;
	--blue: #8caaee;
	--green: #a6d189;
	--red: #e78284;
	--peach: #ef9f76;
}

:root[data-theme="latte"] {
	--base: #eff1f5;
	--mantle: #e6e9ef;
	--crust: #dce0e8;
	--surface0: #ccd0da;
	--surface1: #bcc0cc;
	--surface2: #acb0be;
	--overlay0: #9ca0b0;
	--text: #4c4f69;
	--subtext0: #6c6f85;
	--mauve: #8839ef;
	--blue: #1e66f5;
	--green: #40a02b;
	--red: #d20f39;
	--peach: #fe640b;
}
